.page {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.page.one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav{
    position:fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--pri-color);
    z-index: 99;

}

.logo{
    display: inline-block;
    position: relative;
    font-size: 6.5vmin;
}

.logo-h1{
    font-size: 100%;
    font-weight: 100;
    position: relative;
    color: var(--trd-color);
    background-color: var(--pri-color);
    z-index: var(--up-index);
}

.logo-span{
    position: absolute;
    font-size: 34%;
    left: 0;
    top: 13%; 
    font-weight: 600;
    font-family: var(--alt-font-family);
    z-index: var(--crsr-index);
}

.logo-span.two{
    top: 55%;
}


@media (max-width: 1200px){
    .logo{
        font-size: 9.5vmin;
    }
}