*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: fantasy;
  color: white;
  background-color: black;
  cursor:default;
}

:root {
  --pri-color: black;
  --sec-color: white;
  --trd-color: red;
  --frth-color: orangered;
  --crsr-index: 20;
  --up-index: 22;
  --low-index: 18;
  --alt-font-family: sans-serif;
}

.no-scroll{
  overflow: hidden;
}


