*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'PassionOne';
  src: local('PassionOne'), url('./fonts/PassionOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PassionOne';
  src: local('PassionOne'), url('./fonts/PassionOne-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PassionOne';
  src: local('PassionOne'), url('./fonts/PassionOne-Black.ttf') format('truetype');
  font-weight: 900; /* or a value appropriate for your design */
  font-style: normal;
}


html, body {
  width: 100%;
  height: 100%;
  font-family: 'PassionOne', sans-serif;
  color: white;
  background-color: black;
  cursor:default;
}

:root {
  --pri-color: black;
  --sec-color: white;
  --trd-color: red;
  --frth-color: orangered;
  --crsr-index: 20;
  --up-index: 22;
  --high-index: 25;
  --low-index: 18;
  --alt-font-family: sans-serif;
}

.no-scroll{
  overflow: hidden;
}


